/*universal elements*/

a {
  text-decoration: none;
  color: #fe8676;
  font-weight: bolder;
}

a:hover {
  color: #2a3d43;
}

.resize {
  max-width: 100%;
}

@font-face {
  font-family: Dense;
  src: url(fonts/Dense-Regular.otf);
}

@font-face {
  font-family: Youngblood;
  src: url(fonts/Youngblood.otf);
}

@font-face {
  font-family: SF Pro;
  src: url(fonts/SF-Pro-Text-Light.otf);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Dense;
}

h1 {
  font-family: Youngblood;
}

body {
  font-family: SF Pro;
  margin: 2%;
}

/*navbar*/

#logopic {
  width: 100%;
  overflow: hidden;
  margin: 0;
  float: left;
}

#logopic:hover {
  border-bottom: none;
}

.navbar {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  display: inline-block;
  margin-bottom: 5%;
}

.bird {
  float: left;
  display: block;
  margin-left: 10%;
  margin-top: 1%;
  width: 15%;
}

ul {
  list-style: none;
  float: right;
  width: 80%;
}

ul li {
  vertical-align: middle;
  margin-top: 0%;
  top: 5%;
  left: 0;
}

/* code taken from https://codepen.io/tsimenis/pen/BKdENX?editors=1100 */
/* navbar strikethrough */

.container-navbar {
  /* display: table-cell; */
  /* vertical-align: middle; */
  text-align: right;
  float: right;
  width: 80%;
  font-family: Dense;
  font-size: 225%;
}

li {
  display: inline-block;
  padding: 1% 5%;
}

li a {
  color: #000;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before,
span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 45%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* hover blur
code adapted from https://codepen.io/gomezisdan/pen/bEWdma */

.container-blur {
  display: inline-block;
}

h2,
.hidden {
  font-family: "Dense", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #2a3d43;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#blur-text:hover {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#blur-hue:hover {
  -webkit-filter: blur(5px);
}

.opacity:hover {
  -webkit-filter: opacity(0.2);
  filter: opacity(0.2);
}

.last {
  position: relative;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 30%;
  width: 100%;
  padding-top: 50px;
  font-size: 3em;
  z-index: 99px;
}

.container-blur:hover > .hidden {
  visibility: visible;
  pointer-events: none;
}

/*about page*/

.top-two {
  display: inline-block;
}

.profile {
  width: 50%;
  float: left;
  padding-left: 2%;
  display: block;
  padding-bottom: 2%;
}
.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  /*    align-items: flex-start;*/
  flex-flow: row wrap;
  justify-content: center;
}

.name {
  font-size: 500%;
  margin-top: 0;
  letter-spacing: 5%;
  display: block;
  margin-bottom: 0;
  position: relative;
  /* text-align: left; */
}

.bio {
  font-size: 125%;
  text-align: left;
  margin-top: 0;
  display: block;
  margin-bottom: 0;
  position: relative;
}

.right-block {
  float: right;
  margin-right: 5%;
  margin-left: 5%;
  width: 35%;
}

.clients {
  float: left;
  /* margin-left: 15%; */
  font-size: 200%;
  width: 25%;
  margin-top: 0;
  letter-spacing: 5%;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
}

.clients-description {
  clear: both;
  float: left;
  margin-left: 5%;
  font-size: 125%;
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0;
  text-align: left;
  position: relative;
}

/*individual projects*/

.posts {
  display: block;
  width: 75%;
  margin: auto;
}

.mamadiv {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.post-title {
  font-size: 500%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.post-description {
  font-size: 120%;
  text-align: center;
  margin-top: 0;
  margin-left: 12%;
  margin-right: 12%;
}

.post-header {
  font-size: 400%;
  margin-bottom: 0;
}

.post-width {
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  margin-top: 0;
  font-size: 150%;
}

.upbeat {
  width: 50%;
}

/*flexbox*/

.container {
  width: 100%;
  height: 100%;
  /* 3 Columns normally*/
  -moz-columns: 3;
  -webkit-columns: 3;
  columns: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.column {
  width: 33%;
  display: flex;
  flex-flow: column wrap;
}

/* for project pages to show to images side by side */

.half-container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.half {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

.item {
  max-width: 100%;
  margin: 1%;
  align-self: flex-start;
}

.half-item {
  max-width: 100%;
  align-self: flex-start;
}

/* make it responsive */

.container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .half {
    width: 100%;
  }

  .bird {
    width: 25%;
  }

  .container-navbar {
    width: 100%;
    float: left;
    text-align: center;
  }

  ul {
    width: 100%;
    padding: 0;
    float: left;
    text-align: center;
  }

  .container {
    width: 100%;
    height: 100%;
    /* 1 columns when screen size is less than 800px */
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }

  .container-navbar {
    width: 100%;
  }

  ul li {
    margin-top: 4%;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 100%;
    height: 100%;
    /* 2 columns when screen size is between 800px and 1000px */
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }

  .half {
    width: 100%;
  }

  .container-navbar {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .column {
    width: 33%;
  }

  .half {
    width: 50%;
  }

  .container {
    width: 100%;
    height: 100%;
    /* 3 columns when screen size is greater than 1000px */
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }

  .container-navbar {
    /* width: 100%; */
  }

  ul li {
    margin-top: 0;
  }
}
